<div class="text-center">
  <li>
    <ul><%= @cocktail.name %></ul>
    <hr>

    <% @cocktail.doses.each do |dose| %>
      <ul>
        <p><%= dose.description %></p>
        <p><%= dose.ingredient.name %></p>
      </ul>
       <%= link_to "Supprimer", cocktail_dose_path(@cocktail, dose), method: :delete %>
      <hr>
    <% end %>
  </li>
</div>

<hr>

<div class="text-center">
  <%= link_to "Supprimer ce Cocktail", cocktail_path(@cocktail), method: :delete %>
</div>

<%= render 'doses/new'%>