<h1 class="text-center">New doses for <%= @cocktail.name %></h1>
<div class="container">
  <div class="row">
    <div class="text-center" >
      <%= simple_form_for [cocktail, dose] do |f| %>
      <%= f.input :description %>
      <%= f.input :ingredient, collection: @ingredients %>
      <%= f.submit %>
      <% end %>
    </div>
  </div>
</div>

<div class="text-center" >
  <%= link_to "home", cocktails_path %>
</div

